.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
}



/* Определяем анимацию для появления слева */
@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Определяем анимацию для появления снизу */
  @keyframes slideInBottom {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Определяем анимацию для появления справа */
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Базовое состояние карточек - невидимые и с плавным переходом */
  .speakers .speaker-card {
      opacity: 0; /* Изначально невидимые */
      transform: none; /* Устанавливаем начальное transform в 'none' для плавного перехода обратно */
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Добавляем плавный переход */
  }
  
  
  /* Определяем анимацию для первой карточки, когда она становится видимой */
  /* При добавлении класса is-visible запускается animation */
  .speakers.is-visible .speaker-card:nth-child(1) {
    animation: slideInLeft 0.8s ease-out forwards;
  }
  
  /* Определяем анимацию для второй карточки, когда она становится видимой */
  .speakers.is-visible .speaker-card:nth-child(2) {
    animation: slideInBottom 0.8s ease-out forwards;
    animation-delay: 0.2s;
  }
  
  /* Определяем анимацию для третьей карточки, когда она становится видимой */
  .speakers.is-visible .speaker-card:nth-child(3) {
    animation: slideInRight 0.8s ease-out forwards;
    animation-delay: 0.4s;
  }
  